@media (max-width: 768px) {

{

    font-size: 40px;

}
    div.d2 form span.Announcement
    {
        font-size: 20px;
    }
    div.d2 .text-center
    {
        margin-left: 25%;
    }
    div.d2 .butt button.button
    {
        margin:0.5% 33%;
        background-color: #FFB03B;
    }
}
/*---------- DIV 2 ----------*/
div.d2 h1
{
    margin-top: 5%;
    font-size: 60px;
    color: #FFB03B;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: italic;
}
div.d2 span.Announcement
{
    font-size: 30px;
    color: #535565;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}
div.d2 input.s_name
{
    width: 60%;
    height: 100px;
    background-color: #F4F4F6;
    border: 2px solid #535565;
    font-size: 20px;
}
div.d2 button.update
{
    margin-top: 3%;
    background-color: #F4F4F6;
    transition: 0.5s;
    color:  #FFB03B;
    font-size: 25px;
    border:1px solid #535565;


}
div.d2 button.update:hover
{

    background-color: #F4F4F6;
    color: #535565;
    border:1px solid #FFB03B;

    font-size: 25px;

}

